body{
	font:15px/1.5 Arial,sans-serif,helvetica;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
 ul{
	margin:0;
	padding:0;
}
.button_subscribe{
	background:#e8491d;
	height:40px;
	padding-left:20px;
	padding-right:20px;
	border:none;
	color:#ffffff;
}
header{
	background:#35424a;
	color:#ffffff;
	min-height:70px;
	padding-top:30px;
	border-bottom:#e8491d 3px solid;
}
header a{
	color:#ffffff;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
}
header li{
	padding:0 20px 0 20px;
	display:inline;
	
}
header #branding
{
	float:left;
}
header #branding h1{
	margin:0;
}
header nav{
	float:right;
	margin-top:10px;
}
header .highlight, .current a{
	color:#e8491d;
	font-weight:bold;
}
header a:hover{
	color:#e8491d;
	font-weight:bold;
}
#showcase
{
	min-height:400px;
	background:url('../img/Explore.jpg') no-repeat 0 -400px;
	text-align:center;
	color:#ffffff;
}
#showcase h1{
	font-size:55px;
	margin-top:100px;
	margin-bottom:10px;
	
}
#newsletter{
	padding:15px;
	color:#ffffff;
	background:#35424a;
	
}
#newsletter h1{
	float:left;
}
#newsletter form{
	float:right;
	margin-top:15px;
}
#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}
#boxes .box{
	float:left;
	padding:10px;
	text-align:center;
	width:30%;
}
#boxes .img
{
	
	width:90px;
}
footer{
 padding:20px;
 margin-top:20px;
 color:#ffffff;
 background-color:#e8491d;
 text-align:center;
}









